<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style-home-adm.css">
  <script src="../js/main.js"></script>
  <title>Home Administrador</title>
</head>
<body>
  <div id="container">
    <div id="header">
      <div class="container">
        <div class="row no-gutters header">
            <img src="../img/codestore-logo-horizontalbranca.png" class="mr-3">
            <div class="usuario">Olá, Administrador!</div>
        </div>
      </div>
    </div>
    <div id="main" class="mb-2 mb-md-4 mt-2 mt-md-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 col-md-4 col-lg-3 menu">
            <ul class="mb-3 mt-3">
              <li>Painel</li>
              <li class="ativo">Cadastro de produtos</li>
              <li>Pesquisa</li>
              <li>Mídia</li>
              <li>Cadastro de clientes</li>
              <li>Configuração</li>
            </ul>
          </div>
          <div class="col-12 col-md">
            <div class="col-12 col-md-4 col-lg-3 col-xl-2 mt-2 mt-md-0 ml-md-4 mb-0 mb-md-4 novo-produto">
              Novo produto
            </div>
            <div class="row no-gutters mt-2 mt-md-4 mt-md-0 ml-md-4">
              <div class="mb-2 mb-lg-3 mr-2 mr-lg-3 box">
                <img/>
                <p class="mt-2 mb-2">nome-do-produto</p>
                <p>R$0,00</p>
              </div>
              <div class="mb-2 mb-lg-3 mr-2 mr-lg-3 box">
                <img/>
                <p class="mt-2 mb-2">nome-do-produto</p>
                <p>R$0,00</p>
              </div>
              <div class="mb-2 mb-lg-3 mr-2 mr-lg-3 box">
                <img/>
                <p class="mt-2 mb-2">nome-do-produto</p>
                <p>R$0,00</p>
              </div>
              <div class="mb-2 mb-lg-3 mr-2 mr-lg-3 box">
                <img/>
                <p class="mt-2 mb-2">nome-do-produto</p>
                <p>R$0,00</p>
              </div>
              <div class="mb-2 mb-lg-3 mr-2 mr-lg-3 box">
                <img/>
                <p class="mt-2 mb-2">nome-do-produto</p>
                <p>R$0,00</p>
              </div>
              <div class="mb-2 mb-lg-3 mr-2 mr-lg-3 box">
                <img/>
                <p class="mt-2 mb-2">nome-do-produto</p>
                <p>R$0,00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>